* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: gray;
}
.game {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  gap: 20px;
  width: 80%;
  height: 80%;
  background-color: rgb(4, 58, 4);
  border: 2px solid white;
  border-radius: 15px;
}

.ai-table,
.player-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 45%;
  height: 60%;
  border: 5px solid white;
  border-radius: 10px;
  width: 45%;
  height: 60%;
  border-radius: 10px;
  color: white;
}

.buttons-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons-area > * {
  height: 80px;
  width: 100px;
  border: none;
  cursor: pointer;
}
.buttons-area > *:hover {
  background-color: rgba(201, 197, 197, 10);
}
img {
  width: 100px;
}
.message {
  color: white;
  font-size: 50px;
}
span {
  color: yellow;
  font-size: 12px;
}
@media (max-width: 900px) {
  body {
    font-size: 10px;
    min-height: 100svh;
  }
  .game {
    flex-direction: column;
    gap: 0;
    border: none;
  }
  .ai-table,
  .player-table {
    width: 100%;
    border: none;
  }
  .message {
    font-size: 20px;
  }
  .buttons-area > * {
    height: 60px;
    width: 80px;
    font-size: 12px;
  }
  #doubledown-btn,
  #split-btn {
    display: none;
  }
  img {
    width: 70px;
  }
}
